<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>How's it goin <%= @user.name %>?</h1>
    <p>
      Woo-Hoo!  <b>A comment has been added to '#' on <%= @url %></b>
    </p>
    <p>
      Come check it out!
    </p>

  Later,<br />

  Nic
  </body>
</html>